@page
@model IndexModel
@{
    ViewData["Title"] = "Blog";
}
<div class="containerIndex">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Categories</h3>
            <div class="pull-right box-tools">
                    <a asp-page="Categories/Add">
                    <button class="btn btn-primary pull-right" title="Add Category">
                        Add
                    </button>    
                </a>
            </div>
        </div>
        <div class="box-body">
                @foreach (var item in Model.Categories) {
                <a asp-page="Categories/Edit" asp-route-id="@item.Id">@item.Title</a><br>
                }
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Posts</h3>
            <div class="pull-right box-tools">
                <a asp-page="Posts/Add">
                    <button class="btn btn-primary pull-right" title="Add Post">
                        Add
                    </button>    
                </a>

            </div>
        </div>
        <div class="box-body">
                @foreach (var item in Model.Posts) {
                    <a asp-page="Posts/Edit" asp-route-id="@item.Id">@item.Title</a><br>
            }
        </div>
    </div>
</div>




    
